<div id="signature" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" data-rfc="" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Firma electrónica</h4>
        </div>
        <div class="modal-content">
            <!-- Form inside modal -->
            <div class="content">
                <form action="Signature.cshtml" role="form" onsubmit="return false">
                    <div class="modal-body">
                        <input type="hidden" id="txtContenido" name="txtContenido">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Contraseña FIEL*:</label>
                                    <input id="password" name="password" type="password" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Archivo .cer*: </label>
                                    <input id="publicKey" name="publicKey" type="file" class="styled" accept=".cer,.cert" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Archivo .key*: </label>
                                    <input id="privateKey" name="privateKey" type="file" class="styled" accept=".key" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="waitSignature" class="pull-left" style="display: none;"><img src="" style="margin-right: 4px;"> Generando su acuse, espere ...</span>
                        <button id="cancelSignature" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button id="signFormInstance" type="submit" class="btn btn-success">Firmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/aes.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-md5.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-ripemd160.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-sha1.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-sha224.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-sha256.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-sha3.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-sha384.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/hmac-sha512.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/md5.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/pbkdf2.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/rabbit-legacy.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/rabbit.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/rc4.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/ripemd160.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/sha1.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/sha224.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/sha256.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/sha3.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/sha384.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/sha512.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/rollups/tripledes.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/cryptojs/cryptojs-util.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/base64.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/jsbn.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/jsbn2.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/prng4.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/rng.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/rsa.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/standfordrsa/rsa2.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/kjur/asn1hex-1.1.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/kjur/crypto-1.1.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/kjur/rsapem-1.1.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/kjur/rsasign-1.2.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/kjur/x509-1.1.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/signature/signature.js"></script>
<script type="text/javascript" src="https://undani-framework.azurewebsites.net/undani/js/undani/undani.form.signature.js?v=2.0"></script>

<script type="text/javascript">

    var UrlTemplate= '@System.Configuration.ConfigurationManager.AppSettings["UrlTemplate"]';
    var UrlSignature= '@System.Configuration.ConfigurationManager.AppSettings["UrlSignature"]';
    var EnvironmentId= '@System.Configuration.ConfigurationManager.AppSettings["EnvironmentId"]';
    var UrlFormApi= '@System.Configuration.ConfigurationManager.AppSettings["UrlFormApi"]';

    $(document).ready(function () {
        var formSignature = $('#signature').uFormSignature({
            host: UrlSignature,
            token: '',
            environmentId: EnvironmentId,
            instanceId: form.attr("data-instance-id"),
            publicKey: 'publicKey',
            privateKey: 'privateKey',
            password: 'password'
        });

        $('#signFormInstance').click(function () {
            if ($('#password').val() !== '' && $('#publicKey').val() !== '' && $('#privateKey').val() !== '' ) {
                formSignature.Sign();
            } else {
                alert("Favor de ingresar los datos requeridos...");
            }
        });

        $('#cancelSignature').click(function() {
            updateReadOnly();

        });

        $(formSignature).on("starting", function (event) {
            $('#waitSignature').show();
            $('#signFormInstance').prop('disabled', true);
            $('#cancelSignature').prop('disabled', true);
        });

        $(formSignature).on("done", function (event, n, r, c) {
            $.ActionExecuteFlow();
            alert("El tramite se envió correctamente. En breve recibirá su acuse de recepción");
            window.location.href =  "@ViewBag.Parameters.urlBaseAseaPortalReg" + "/management-regulated";
        });

        $(formSignature).on("error", function (event, origen, error) {
            $('#btnIniciarSesion').removeAttr('disabled');            
            alert("Error al firmar, por favor vuelva a intentarlo (" + origen + ").");
            $('#waitSignature').hide();
            $('#signFormInstance').prop('disabled', false);
            $('#cancelSignature').prop('disabled', false);
        });

        var updateReadOnly = function () {
            var settings = {
                "async": false,
                "crossDomain": true,
                "url": UrlFormApi +
                    "/Execution/Form/updateReadOnly?instaceId=" + form.attr("data-instance-id") + "&readOnly=false",
                "method": "POST",
                "content-type": "application/json",
                "cache-control": "no-cache"
            };

            $.ajax(settings).done(function (response) {
                console.log("se actualiza ReadOnly");
            }).fail(function (jqXhr, textStatus, errorThrown) {
                console.log("Error al actualizar el flujo");
            });
        }
    });
</script>